/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-01-2015, 09:29:31 PM
    Author     : HP
*/
.menubar{background-color: #336699;}
.menuitem{color:white;}
.commandButton{background-color: #3366FF}
 h1{color:#336699!important; alignment-adjust: central}
.layoutUnit{background-color: darkcyan}
.graphicImage{margin: auto}
.fecha{}
.input#j_idt8:j_idt9:form:ini_input{
    width: 20%
}
